@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.content {
  display: flex;
  gap: 20px;
  justify-content: flex-start;

  @include max($tablet-s) {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
