.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.formContainer {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.requiredAsterisk {
  color: red;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .button {
    max-width: 200px;
    flex: 1;
  }
}
