@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.root {
  padding: 20px;
  border-radius: 8px;
  text-transform: capitalize;

  @include max($tablet-s) {
    padding: 10px;
  }
}
