@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
