@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.root {
  max-width: 400px;

  width: 100%;

  @include max(mobile-l) {
    max-width: 100%;
  }
}
