@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.root {
  padding: 20px 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include max($tablet-s) {
    display: none;
  }

  .card {
    flex: 1;
  }
  .sidebar {
    display: flex;
  }
}
