@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;

  @include max($tablet-s) {
    padding: 10px;
  }
}
