@use "@/styles/abstracts/variables" as *;
@use "@/styles/abstracts/mixins" as *;
@use "@/styles/abstracts/placeholders" as *;
@import "@radix-ui/colors/red.css";

.authCard {
  width: 100%;
  max-width: 350px;

  .root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    .logoContainer {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      width: 121px;
      height: 40px;
      position: relative;
      cursor: pointer;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      .formGroup {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
      }

      .input {
        width: 100%;
        &.errorBorder {
          // border-color: var(--red-9);
          border-color: #f00 !important;
        }
      }

      .submitButton {
        cursor: pointer;
        margin-top: 5px;
      }

      .eyeButton {
        cursor: pointer;
      }
    }
  }

  .footerLink {
    text-decoration: underline;
  }
}
